body{
    border: solid 2px rgb(75, 154, 211);
    width: 91%;
    height: 830px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

*{
    margin-left: 2px;
}

h2, h3, h4, h5{
    font-size: 17px;
}

p{
    font-size: 15px;
}

ul{
    margin-left: 0.01px;
}